In [1]:
import re
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns
import string
import nltk
import warnings 
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_csv("data.csv")

In [3]:
df.head()

   id  label                                              tweet
0   1      0   @user when a father is dysfunctional and is s...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation

In [4]:
df =df.set_index('id')

In [5]:
df['label'].unique()

array([0, 1], dtype=int64)

In [6]:
df['label'].value_counts()

0    29720
1     2242
Name: label, dtype: int64

In [7]:
df[df['label']==0].head(1)

    label                                              tweet
id
1       0   @user when a father is dysfunctional and is s...

In [8]:
df[df['label']==1].head(1)

    label                                              tweet
id
14      1  @user #cnn calls #michigan middle school 'buil...

##### Let's remove @user from tweet

In [9]:
def remove(cols):
    tweet = cols[0]
    r = re.findall("@[\w]*",tweet)
    for i in r:
        tweet = re.sub(i, '', tweet)
    return tweet

In [10]:
df['new_tweet'] = df[['tweet']].apply(remove,axis = 1)

In [11]:
df.head()

,label,tweet,new_tweet
id,,,
1,0,@user when a father is dysfunctional and is s...,when a father is dysfunctional and is so sel...
2,0,@user @user thanks for #lyft credit i can't us...,thanks for #lyft credit i can't use cause th...
3,0,bihday your majesty,bihday your majesty
4,0,#model i love u take with u all the time in ...,#model i love u take with u all the time in ...
5,0,factsguide: society now #motivation,factsguide: society now #motivation

In [12]:
df['new_tweet'] = df['new_tweet'].str.replace("[^a-zA-Z#]"," ")

In [13]:
df.drop(['tweet'],axis = 1,inplace = True)

In [14]:
from nltk.stem import PorterStemmer
from nltk.corpus import stopwords
ps = PorterStemmer()
nltk.download('stopwords')
nltk.download('punkt')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\shray\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\shray\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [15]:
def transform(text):
    text = text.lower()
    words = nltk.word_tokenize(text)
    y= []
    for i in words:
        i = ps.stem(i)
        y.append(i)
    return " ".join(y)

In [16]:
df['tweet'] = df['new_tweet'].apply(transform)

In [17]:
df.head()

,label,new_tweet,tweet
id,,,
1,0,when a father is dysfunctional and is so sel...,when a father is dysfunct and is so selfish he...
2,0,thanks for #lyft credit i can t use cause th...,thank for # lyft credit i can t use caus they ...
3,0,bihday your majesty,bihday your majesti
4,0,#model i love u take with u all the time in ...,# model i love u take with u all the time in ur
5,0,factsguide society now #motivation,factsguid societi now # motiv

In [18]:
df.drop(['new_tweet'],inplace = True,axis = 1)

In [19]:
df['tweet'] = df['tweet'].apply(lambda x: ' '.join([w for w in x.split() if len(w)>3]))

In [20]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer(max_features=3500,max_df = 0.90,min_df = 2,stop_words = 'english')

In [21]:
X = tfidf.fit_transform(df['tweet']).toarray()

In [22]:
X.shape

(31962, 3500)

In [23]:
y = df['label']

In [24]:
from sklearn.metrics import f1_score

In [25]:
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RandomizedSearchCV

In [26]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import GradientBoostingClassifier
from xgboost import XGBClassifier
from sklearn.naive_bayes import GaussianNB

In [27]:
import scipy.stats as stat

In [28]:
results = {}

In [29]:
gb = GaussianNB()
params = {'var_smoothing': np.logspace(0,-9, num=100)}

In [30]:
random_search1 = RandomizedSearchCV(gb,param_distributions=params,n_iter = 5,scoring = 'f1',n_jobs = -1,cv = 5,verbose = 3)
random_search1.fit(X,y)

Fitting 5 folds for each of 5 candidates, totalling 25 fits

RandomizedSearchCV(cv=5, estimator=GaussianNB(), n_iter=5, n_jobs=-1,
                   param_distributions={'var_smoothing': array([1.00000000e+00, 8.11130831e-01, 6.57933225e-01, 5.33669923e-01,
       4.32876128e-01, 3.51119173e-01, 2.84803587e-01, 2.31012970e-01,
       1.87381742e-01, 1.51991108e-01, 1.23284674e-01, 1.00000000e-01,
       8.11130831e-02, 6.57933225e-02, 5.33669923e-02, 4.32876128e-02,...
       1.23284674e-07, 1.00000000e-07, 8.11130831e-08, 6.57933225e-08,
       5.33669923e-08, 4.32876128e-08, 3.51119173e-08, 2.84803587e-08,
       2.31012970e-08, 1.87381742e-08, 1.51991108e-08, 1.23284674e-08,
       1.00000000e-08, 8.11130831e-09, 6.57933225e-09, 5.33669923e-09,
       4.32876128e-09, 3.51119173e-09, 2.84803587e-09, 2.31012970e-09,
       1.87381742e-09, 1.51991108e-09, 1.23284674e-09, 1.00000000e-09])},
                   scoring='f1', verbose=3)

In [31]:
random_search1.best_params_

{'var_smoothing': 1.0}

In [32]:
model1 = random_search1.best_estimator_

In [33]:
score = cross_val_score(model1,X,y,cv = 10,scoring = 'f1')

In [34]:
mean = score.mean()
print(mean)
results['GaussianNB'] = mean

0.6083433523564888

In [35]:
rf = RandomForestClassifier(random_state = 42)
params = {
    'bootstrap': [True, False],
 'max_depth': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, None],
 'max_features': ['auto', 'sqrt'],
 'min_samples_leaf': [1, 2, 4,6,8,10],
 'min_samples_split': [2, 5,7,9, 10],
 'n_estimators': [int(x) for x in np.linspace(start = 1, stop = 100, num = 50)]}
random_search2 = RandomizedSearchCV(rf,param_distributions=params,n_iter = 5,scoring = 'f1',n_jobs = -1,cv = 5,verbose = 3)
random_search2.fit(X,y)

Fitting 5 folds for each of 5 candidates, totalling 25 fits

RandomizedSearchCV(cv=5, estimator=RandomForestClassifier(random_state=42),
                   n_iter=5, n_jobs=-1,
                   param_distributions={'bootstrap': [True, False],
                                        'max_depth': [10, 20, 30, 40, 50, 60,
                                                      70, 80, 90, 100, None],
                                        'max_features': ['auto', 'sqrt'],
                                        'min_samples_leaf': [1, 2, 4, 6, 8, 10],
                                        'min_samples_split': [2, 5, 7, 9, 10],
                                        'n_estimators': [1, 3, 5, 7, 9, 11, 13,
                                                         15, 17, 19, 21, 23, 25,
                                                         27, 29, 31, 33, 35, 37,
                                                         39, 41, 43, 45, 47, 49,
                                                         51, 53, 55, 57, 59, ...]},
                   scoring='f1', verbose=3)

In [36]:
random_search2.best_params_

{'n_estimators': 95,
 'min_samples_split': 5,
 'min_samples_leaf': 2,
 'max_features': 'auto',
 'max_depth': 100,
 'bootstrap': True}

In [37]:
model2 = random_search2.best_estimator_

In [ ]:
score = cross_val_score(model2,X,y,cv = 10,scoring = 'f1')

In [ ]:
mean = score.mean()
print(mean)
results['RandomForest Classifier'] = mean

In [ ]:
xgb = XGBClassifier()

In [ ]:
params = {
        'min_child_weight': [1,2,3,4,5,6,7,8,9,10],
        'gamma': [0.5, 1, 1.5, 2, 5],
        'subsample': [0.1,0.2,0.3,0.4,0.5,0.6,0.7, 0.8, 0.9,1.0],
        'colsample_bytree': [0.1,0.2,0.3,0.4,0.5,0.6,0.7, 0.8,0.9, 1.0],
        'max_depth': [1,2,3, 4, 5,6,7,8,9,10]
        }
random_search3 = RandomizedSearchCV(xgb,param_distributions=params,n_iter = 5,scoring = 'f1',n_jobs = -1,cv = 5,verbose = 3)
random_search3.fit(X,y)

In [ ]:
random_search3.best_params_

In [ ]:
model3 = random_search3.best_estimator_

In [ ]:
score = cross_val_score(model3,X,y,cv = 10,scoring = 'f1')

In [ ]:
mean = score.mean()
print(mean)
results['XG Boost Classifier'] = mean